.lead__image-pic{
  width: 100%;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead__image-pic{
    max-width: 100%;
    width: 320px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image-pic{
    width: 768px;
  }
}

@media screen and (max-width: 1024px) {
  .lead__image-pic{
    width: 928px;
  }
}