.lead__caption{
  color: #FFFFFF;
  line-height: 14px;
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 15%;
  text-transform: uppercase;
  margin-top: 8px;
  letter-spacing: 15%;
}

@media screen and (max-width: 768px) {
  .lead__caption{
    margin-left: 24px;
  }
}