.cover{
  margin: 0 0 92px 0;
  max-width: calc(100vw - 48px*2);
  width: 100%;
  position: relative;
  align-self: center;
  text-align: center;
  box-sizing: border-box;
  margin-top: 12px;
}

/*
@media screen and (max-width: 1024px) {
  .cover{
    max-width: 100%;
    min-height: 640px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .cover{
    margin-left: 0;
    margin-right: 0;
  }  
}

@media screen and (max-width: 768px) {
  .cover{
    min-height: 480px;
    margin-top: 0;
  }
}
*//*
@media screen and (max-width: 320px) *//* and (max-width: 767px)*//* {
  .cover{
    max-width: 100%;
    margin-bottom: 64px;
    min-height: 200px;
  }
}*/