.cover__image{
  background-image: url('../../../images/cover-route-66.jpg');
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  object-fit: cover;
  text-decoration: none;
}

.cover__image::after {
  content: "";
  position: absolute;
  background: #2a2c2f;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.cover__image:hover::after {
  opacity: 0.8;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .cover__image{
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__image{
    min-height: 480px;
    min-width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__image{
    min-height: 200px;
    max-width: 100%;
    margin-right: 0;
    width: 320px;
  }
}