.place__website{
  list-style: none;
  grid-area: url;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 425px) {
  .place__website{
    max-width: 288px;
  }
}