.place__image{
  grid-area: image;
  width: 100%;
  object-fit: cover;
  width: 460px;
  height: 460px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .place__image{
    width: 440px;
    height: 440px;
  }
}

@media screen and (max-width: 425px) {
  .place__image{
    width: 320px;
    height: 320px;
    max-width: 100%;
  }
}