.place__url-heading{
  color:#AAAAAA;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 3.2px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__url-heading{
    line-height: 1;
    letter-spacing: 0.2em;
  }
}